.header{
    display: none;
}

#content{
    font-family: 'Cairo' , sans-serif !important;
    display: none;
    min-height: 250px !important;

}

#copy{
    display: none;
}

.dropdown-menu[data-bs-popper]{
    right: auto !important;
    left: 0 !important;
}



